@using  Hyponome.Client.Components.Moment
@inherits PullRequestListItemBase

<div class="card mb-1">
    <div class="row no-gutters">
        <div class="col-md-11">
            <div class="card-body p-2">
                <h6 class="card-title mb-0">
                    <a href="pull/@PullRequest.Number" class="issue-title-link">@PullRequest.Title</a>
                </h6>
                <p class="card-text">
                    <small class="text-muted">
                        #@PullRequest.Number opened <FromNow Value="@PullRequest.Created" /> by <a href="@PullRequest.User.HtmlUrl" class="link-muted" target="_blank">@PullRequest.User.Login</a><span class="pl-1"><span class="oi oi-signpost"></span>@PullRequest.Milestone.Title</span>
                    </small>
                </p>
            </div>
        </div>
        <div class="col-md-1 align-self-center text-center">
            <span class="badge badge-light" title="@PullRequest.Comments comments"><span class="oi oi-comment-square pr-1"></span>@PullRequest.Comments</span>
        </div>
    </div>
</div>
