@using Hyponome.Client.Components.Moment
@inherits PullRequestListItemBase

<div class="card mb-1">
    <div class="row no-gutters">
        <div class="card-body p-2">
            <h6 class="card-title mb-0">
                <a href="@PullRequest.Number" class="issue-title-link">@PullRequest.Title</a>
                <PullRequestStatus Status="@PullRequest.Statuses"/>
                <PullRequestLabels Labels="@PullRequest.Labels"/>
            </h6>
            <p class="card-text">
                <small class="text-muted">
                    #@PullRequest.Number opened <FromNow Value="@PullRequest.Created"/> by <a href="@PullRequest.User.HtmlUrl" class="link-muted" target="_blank">@PullRequest.User.Login</a>
                    @if (!string.IsNullOrEmpty(PullRequest.Milestone?.Title))
                    {
                        <span class="badge badge-octopus ml-1">
                            <i class="fas fa-map-signs"></i> @PullRequest.Milestone.Title
                        </span>
                    }
                </small>
            </p>
        </div>
    </div>
</div>