@inherits PullRequestDetailsBase

<h4 class="mb-0">
    @PullRequest.Title <small class="text-muted">#@PullRequest.Number</small>
    <a href="@PullRequest.Url" target="_blank" class="btn btn-sm btn-outline-success align-top float-right" data-toggle="tooltip" title="Review and Merge PR on GitHub">Review and Merge</a>
</h4>
<small class="text-muted d-block">
    <a href="@PullRequest.User.HtmlUrl" class="link-muted">@PullRequest.User.Login</a> wants to merge @PullRequest.Commits commit@(PullRequest.Commits == 1 ? "" : "s") into
    <span class="badge badge-octopus">@PullRequest.Base.Label</span>
    from
    <span class="badge badge-octopus">@PullRequest.Head.Label</span>
</small>
<div class="accordion my-2">
    <PullRequestFiles Files="@PullRequest.Files" />
</div>