<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hyponome | by OctopusDeploy</title>
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <environment names="Development">
            <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css"/>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
                  asp-fallback-href="/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
                  asp-fallback-href="/lib/fontawesome/css/font-awesome.min.css"
                  asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />
        </environment>
        <link href="/css/github/index-7e77e66f8436e66d6a9791d7a09cec15828e9e04a0ad97cf73e83223f8b9cb3a.css" media="all" rel="stylesheet">            
        <link href="/css/github/index-5df271cf586eee5e48a88e30cdb6b5c32413ce1d7337835a905fc8c16294237e.css" media="all" rel="stylesheet">                
        <link rel="stylesheet" href="/css/ace-diff.css" />
        <link rel="stylesheet" href="/css/site.css" />
        @RenderSection("styles", required: false)
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/" title="Hyponome">
                            <img src="/img/hyponome.png" />
                        </a>
                    </div>
                    @if(@Context.User == null || string.IsNullOrEmpty(@Context.User.Identity.Name))
                    {
                        <div class="navbar-text navbar-right">
                            <a href="@Url.Action("Login", "Account")" class="btn navbar-btn">Sign in</a>
                        </div>
                    }
                    else
                    {
                        <div class="header header-logged-in true">
                            <ul class="header-nav user-nav right">
                                <li class="header-nav-item">
                                    <a class="header-nav-link name" href="@Context.User.FindFirst("urn:github:url").Value" target="_blank">
                                        <img alt="@("@" + @Context.User.Identity.Name)" class="avatar" height="20" width="20" src="@Context.User.FindFirst("urn:github:avatar").Value"/>
                                        <span class="css-truncate">
                                            <span class="css-truncate-target">
                                                @Context.User.Identity.Name
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="header-nav-item">
                                    <a class="header-nav-link" href="@Url.Action("Logout", "Account")">
                                        <span class="octicon octicon-sign-out"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </header>
        <div class="container">
    		@if(@TempData["Error"] != null)
    		{
                <div class="alert alert-danger">
    				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    				<span style="white-space: pre-line">@TempData["Error"]</span>
    			</div>
    		}
            @if(@TempData["Success"] != null)
            {
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span style="white-space: pre-line">@TempData["Success"]</span>
                </div>
            }
        </div>
        <div class="pagehead repohead instapaper_ignore readability-menu">
            <div class="container-fluid">
                <h1 class="entry-title public">
                    <span class="mega-octicon octicon-repo"></span>
                    <span class="author"><span>OctopusDeploy</span></span>
                    <span class="path-divider">/</span>
                    <span>Library</span>
                </h1>
            </div>
        </div>
        @RenderBody()

        <footer>
            @Html.Partial("_Footer")
        </footer>
        <environment names="Development">
            <script src="/lib/jquery/jquery.js"></script>
            <script src="/lib/bootstrap/js/bootstrap.js"></script>
            <script src="/lib/ace/ace.js"></script>
            <script src="/lib/momentjs/moment.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
                    asp-fallback-src="lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                    asp-fallback-src="lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"
                    asp-fallback-src="lib/ace/ace.js"
                    asp-fallback-test="ace">
            </script>
            <script src="/lib/momentjs/min/moment.min.js"></script>
        </environment>
        <script src="/scripts/diff_match_patch_uncompressed.js"></script>
        <script src="/scripts/ace-diff.js"></script>
        <script src="/scripts/hyponome.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
        